<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/chatbot.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="chat_window">
        <div class="top_menu">
            <div class="title"><a href="https://www.instagram.com/du_4palestine/" target="_blank" style="color: inherit; text-decoration: none;">DU_4Palestine</a></div>
        </div>
        <ul class="messages"></ul>
        <div class="bottom_wrapper clearfix">
            <div class="message_input_wrapper">
                <input class="message_input" placeholder="Type your query here"/>
            </div>
            <div class="send_message">
                <div class="text">Send</div>
            </div>
        </div>
        <div class="message_template">
            <li class="message">
                <a href="https://www.instagram.com/du_4palestine/" target="_blank" class="avatar_link">
                    <div class="avatar"></div>
                </a>
                <div class="text_wrapper">
                    <div class="text"></div>
                </div>
            </li>
        </div>
    </div>

    <script src="../static/chatbot.js"></script>
</body>
</html>
